
@using ShopXeMay.Models
@model List<Giohang>

<div id="offcanvas-add-cart" class="offcanvas offcanvas-rightside offcanvas-add-cart-section">
    <!-- Start Offcanvas Header -->
    <div class="offcanvas-header text-right">
        <button class="offcanvas-close"><i class="ion-android-close"></i></button>
    </div> <!-- End Offcanvas Header -->
    <!-- Start  Offcanvas Addcart Wrapper -->
    <div class="offcanvas-add-cart-wrapper">
        <h4 class="offcanvas-title">Shopping Cart</h4>
        <ul class="offcanvas-cart">
            @foreach (var item in Model)
            {
                <li class="offcanvas-cart-item-single">
                    <div class="offcanvas-cart-item-block">
                        <a href="#" class="offcanvas-cart-item-image-link">
                            <img src="~/assets/images/product/@item.AnhSP" alt=""
                                 class="offcanvas-cart-image">
                        </a>
                        <div class="offcanvas-cart-item-content">
                            <a href="#" class="offcanvas-cart-item-link">@item.TenSanPham</a>
                            <div class="offcanvas-cart-item-details">
                                <span class="offcanvas-cart-item-details-quantity">@item.soluong </span>
                                <span class="offcanvas-cart-item-details-price">@item.GiaTien</span>
                            </div>
                        </div>
                    </div>
                    <div class="offcanvas-cart-item-delete text-right">
                        <a href="#" class="offcanvas-cart-item-delete"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
            }
        </ul>
        <div class="offcanvas-cart-total-price">
            <span class="offcanvas-cart-total-price-text">Tổng Tiền:</span>
            <span class="offcanvas-cart-total-price-value">@ViewBag.Tongtien</span>
        </div>
        <ul class="offcanvas-cart-action-button">
            <li><a href="~/GioHang/GioHang" class="btn btn-block btn-pink">Xem Giỏ Hàng</a></li>
            <li><a href="~/GioHang/DatHang" class=" btn btn-block btn-pink mt-5">Đặt Hàng</a></li>
        </ul>
    </div> <!-- End  Offcanvas Addcart Wrapper -->

</div> <!-- End  Offcanvas Addcart Section -->
