@model IEnumerable<ShopXeMay.Models.HangSX>

@{
    ViewBag.Title = "Hãng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<a style="margin-left:10px;" class="btn btn-primary" href="~/Admin/HangSXes/create">Thêm Hãng</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHangSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHangSX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                <a class="btn btn-sm btn-success" href="~/Admin/HangSXes/Edit?id=@item.Id">Cập Nhật</a>
                <a class="btn btn-sm btn-info" href="~/Admin/HangSXes/Details?id=@item.Id">Chi Tiết</a>
                <a class="btn btn-sm btn-danger" href="~/Admin/HangSXes/Delete?id=@item.Id">Xóa</a>
            </td>
        </tr>
    }

</table>