
@{
    ViewBag.Title = "Baiviet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Các bài biết nổi bật</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="~/Home/Index">Trang chủ</a></li>
                                <li><a href="~/Home/Baiviet">bài viết</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...:::: Start Blog List Section:::... -->
<div class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-wrapper">
                    <div class="row mb-n6">
                        <div class="col-xl-4 col-md-6 col-12 mb-6">
                            <!-- Start Product Default Single Item -->
                            <div class="blog-list blog-grid-single-item blog-color--golden" data-aos="fade-up"
                                 data-aos-delay="0">
                                <div class="image-box">
                                    <a href="blog-single-sidebar-left.html" class="image-link">
                                        <img class="img-fluid" src="~/assets/images/blog/blog1.jpg"
                                             alt="">
                                    </a>
                                </div>
                                <div class="content">
                    
                                    <h6 class="title">
                                        <a href="blog-single-sidebar-left.html"> Hãng xe sirius</a>
                                    </h6>
                                    <p>
                                        Sirius, một trong những thương hiệu xe hàng đầu của nước ta, 
                                        đã chính thức giới thiệu mẫu xe mới với thiết kế tinh tế và nâng 
                                        ấp công nghệ đáng kể. Xe mới được trang bị động cơ mạnh mẽ và tiết 
                                        kiệm nhiên liệu, hứa hẹn mang đến cho khách hàng trải nghiệm lái xe 
                                        không thể tuyệt vời hơn. Thiết kế nội thất sang trọng cùng những tính
                                        năng an toàn vượt trội, Sirius đã cùng chiếc xe mới mang đến sự hoàn 
                                        hảo về mặt thẩm mỹ và chất lượng.
                                    </p>
                                    <a href="https://tuoitre.vn/yamaha-sirius-dong-xe-so-pho-thong-dang-mua-1301190.htm" class="read-more-btn icon-space-left">
                                        Đọc thêm <span class="icon">
                                            <i class="ion-ios-arrow-thin-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                        </div>
                        <div class="col-xl-4 col-md-6 col-12 mb-6">
                            <!-- Start Product Default Single Item -->
                            <div class="blog-list blog-grid-single-item blog-color--golden" data-aos="fade-up"
                                 data-aos-delay="200">
                                <div class="blog-list-slider-arrow">
                                    <!-- Slider main container -->
                                    <div class="blog-list-slider swiper-container">
                                        <!-- Additional required wrapper -->
                                        <div class="swiper-wrapper">
                                            <!-- Slides -->
                                            <div class="blog-list-slider-img swiper-slide">
                                                <img class="img-fluid"
                                                     src="~/assets/images/blog/blog3.jpg" alt="">
                                            </div>
                                            <div class="blog-list-slider-img swiper-slide">
                                                <img class="img-fluid"
                                                     src="assets/images/blog/blog-grid-home-1-img-2.jpg" alt="">
                                            </div>
                                            <div class="blog-list-slider-img swiper-slide">
                                                <img class="img-fluid"
                                                     src="assets/images/blog/blog-grid-home-1-img-3.jpg" alt="">
                                            </div>
                                            <div class="blog-list-slider-img swiper-slide">
                                                <img class="img-fluid"
                                                     src="assets/images/blog/blog-grid-home-1-img-1.jpg" alt="">
                                            </div>
                                            <div class="blog-list-slider-img swiper-slide">
                                                <img class="img-fluid"
                                                     src="assets/images/blog/blog-grid-home-1-img-5.jpg" alt="">
                                            </div>
                                        </div>

                                        <!-- If we need navigation buttons -->
                                        <div class="swiper-button-prev"></div>
                                        <div class="swiper-button-next"></div>
                                    </div>
                                </div>
                                <div class="content">
                                    
                                    <h6 class="title">
                                        <a href="blog-single-sidebar-left.html"> Hãng xe exciter</a>
                                    </h6>
                                    <p>
                                        Exciter, một trong những thương hiệu xe máy được yêu thích hàng đầu tại Việt Nam, 
                                        đã cho ra mắt mẫu xe mới với kiểu dáng phóng khoáng và hiệu suất mạnh mẽ. 
                                        Xe mới được trang bị động cơ 4 thì thế hệ mới, hứa hẹn mang lại sức mạnh v
                                        ượt trội cùng khả năng tiết kiệm nhiên liệu cao. Bên cạnh đó, hệ thống phanh 
                                        cũng được nâng cao đáp ứng tiêu chuẩn an toàn cao nhất. Exciter cùng xe mới đ
                                        em đến cho khách hàng trải nghiệm lái tuyệt vời.
                                    </p>
                                    <a href="https://vnexpress.net/topic/bai-viet-ve-yamaha-exciter-13387" class="read-more-btn icon-space-left">
                                        Đọc thêm <span class="icon">
                                            <i class="ion-ios-arrow-thin-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                        </div>
                        <div class="col-xl-4 col-md-6 col-12 mb-6">
                            <!-- Start Product Default Single Item -->
                            <div class="blog-list blog-grid-single-item blog-color--golden" data-aos="fade-up"
                                 data-aos-delay="400">
                                <div class="blog-video-box">
                                    <img class="img-fluid" src="~/assets/images/blog/blog2.jpg"
                                         alt="">
                                    <a href="https://youtu.be/UvApJ6jpic0" class="video-play-btn"
                                       data-autoplay="true" data-vbtype="video">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </div>
                                <div class="content">
                                   
                                    <h6 class="title">
                                        <a href="blog-single-sidebar-left.html"> Hãng xe vespa</a>
                                    </h6>
                                    <p>
                                        Vespa, hãng xe nổi tiếng của Italy, vừa giới thiệu bản nâng cấp
                                        của mẫu xe huyền thoại với thiết kế độc đáo và nhiều tính năng mới.
                                        Bộ khung xe mới được làm bằng vật liệu siêu nhẹ, đồng thời động cơ
                                        vận hành êm ái và tiết kiệm nhiên liệu. Ngoài ra, Vespa cũng đã trang
                                        bị cho xe nhiều tính năng hiện đại, như hệ thống phanh an toàn ABS, đèn
                                        pha LED, và hệ thống âm thanh đa phương tiện, đem lại cho người lái trải
                                        nghiệm thoải mái và đầy thú vị.
                                    </p>
                                    <a href="https://tuoitre.vn/vespa-cuoc-cach-mang-ve-van-hoa-va-thiet-ke-20211225154849804.htm" class="read-more-btn icon-space-left">
                                        Đọc thêm <span class="icon">
                                            <i class="ion-ios-arrow-thin-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                        </div>
                        <div class="col-xl-4 col-md-6 col-12 mb-6">
                            <!-- Start Product Default Single Item -->
                            <div class="blog-list blog-grid-single-item blog-color--golden" data-aos="fade-up"
                                 data-aos-delay="0">
                                <div class="image-box">
                                    <a href="blog-single-sidebar-left.html" class="image-link">
                                        <img class="img-fluid" src="assets/images/blog/blog-grid-home-1-img-2.jpg"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                         </div>
                        </div>
                    </div>
                            
                        
                        
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Blog List Section:::... -->