<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info" style="text-align:center; margin:auto;">
            <a href="~/Home/login" class="d-block"><i class="fa fa-user"></i>@Session["TenNguoiDung"]</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="~/Admin/DonHangs/ThongKe" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Thống Kê Doanh Thu
                        <span class="badge badge-info right"></span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-list"></i>
                    <p>
                        Danh Mục
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="~/Admin/SanPhams/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Quản Lý Xe</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Admin/LoaiSPs/Index/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Quản Lý Loại Xe</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Admin/HangSXes/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Quản Lý Hãng Sản Xuất</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="~/Admin/DonHangs/Index" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Quản Lý Đơn Hàng
                        <span class="badge badge-info right"></span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-border-all"></i>
                    <p>
                        Quản Lý Chung
                        <i class="fas fa-angle-left right"></i>
                        <span class="badge badge-info right"></span>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="~/Admin/PhanQuyens/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Quản Lý Chức Vụ</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Admin/HinhThucThanhToans/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Quản Lý Hình Thức Thanh Toán</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Admin/GiamGias/Index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Quản Lý Chương Trình Giảm Giá</p>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a href="~/Admin/TaiKhoans/Index" class="nav-link">
                    <i class="nav-icon fas fa-house-user"></i>
                    <p>
                        Quản Lý Tài Khoản
                        <span class="badge badge-info right"></span>
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
