@model IEnumerable<ShopXeMay.Models.HinhThucThanhToan>

@{
    ViewBag.Title = "Hình Thức Thanh Toán";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<a style="margin-left:10px;" class="btn btn-primary" href="~/Admin/HinhThucThanhToans/create">Thêm Hình Thức</a>
<h3 style="font-weight:bold;margin-left:10px;">Hình Thức Thanh Toán</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHinhThuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHinhThuc)
        </td>
        <td>
            <a class="btn btn-sm btn-success" href="~/Admin/HinhThucThanhToans/Edit?id=@item.ID">Cập Nhật</a>
            <a class="btn btn-sm btn-info" href="~/Admin/HinhThucThanhToans/Details?id=@item.ID">Chi Tiết</a>
            <a class="btn btn-sm btn-danger" href="~/Admin/HinhThucThanhToans/Delete?id=@item.ID">Xóa</a>
        </td>
    </tr>
}

</table>
