
@model IEnumerable<ShopXeMay.Models.LoaiSP>

@{
    ViewBag.Title = "Loại Xe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a style="margin-left:10px;" class="btn btn-primary" href="~/Admin/LoaiSPs/create">Thêm Loại Xe</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoai)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                <a class="btn btn-sm btn-success" href="~/Admin/LoaiSPs/Edit?id=@item.Id">Cập Nhật</a>
                <a class="btn btn-sm btn-info" href="~/Admin/LoaiSPs/Details?id=@item.Id">Chi Tiết</a>
                <a class="btn btn-sm btn-danger" href="~/Admin/LoaiSPs/Delete?id=@item.Id">Xóa</a>
            </td>
        </tr>
    }

</table>