@model IEnumerable<ShopXeMay.Models.PhanQuyen>

@{
    ViewBag.Title = "Danh Sách Quyền";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a style="margin-left:10px;" class="btn btn-primary" href="~/Admin/PhanQuyens/create">Thêm Quyền</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ghi_Chú)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ghi_Chú)
        </td>
        <td>
            <a class="btn btn-sm btn-success" href="~/Admin/PhanQuyens/Edit?id=@item.IDPhanQuyen">Cập Nhật</a>
            <a class="btn btn-sm btn-danger" href="~/Admin/PhanQuyens/Delete?id=@item.IDPhanQuyen">Xóa</a>
        </td>
    </tr>
}

</table>
